/* Gutenberg classes for predefined items
========================================================================== */
.has-white-to-light-gray-gradient-background {
	background: rgb(242,242,242) !important;
	background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#ffffff",GradientType=1) !important;
}
.has-black-to-transparent-gradient-background {
	background: rgb(0,0,0) !important;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1) !important;
}
.has-low-alpha-black-to-transparent-gradient-background {
	background: rgb(0,0,0) !important;
	background: rgba(0,0,0,0.65) !important;
	background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(255,255,255,0) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1) !important;
}
.has-white-background-color {
	background-color: $c-white !important;
}
.has-black-background-color {
	background-color: $c-black !important;
}
.has-white-color {
	color: $c-white !important;
}
.has-black-color {
	color: $c-black !important;
}
.has-extra-large-font-size {
	font-size: 20px !important;
}
.has-large-font-size {
	font-size: 18px !important;
}

/* Helper classes
========================================================================== */
$default-grid-columns: 12;
$default-grid-gutter: 2%;

.row {
	@include grid($gutter: $default-grid-gutter);
	-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
}
.row-no-margin {
	@include grid($gutter: 0);
	-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
}
.col-auto {
	@include grid-col($col: auto);
}
@for $i from 1 through $default-grid-columns {
	.col-#{$i} {
		@include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter, $max-width: true);
	}
}
@for $i from 1 through $default-grid-columns {
	.col-no-gutter-#{$i} {
		@include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: 0, $max-width: true);
	}
}
.row-reverse {
	-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
}
figure {
	margin: 0;
	width: 100%;
	*[data-object-fit],
	*[data-object-position] {
		width: 100%;
		display: block;
		height: 100% !important;
	}
}
[data-object-fit="cover"] {
	object-fit: cover;
}
[data-object-fit="fill"] {
	object-fit: fill;
}
[data-object-fit="contain"] {
	object-fit: contain;
}
[data-object-fit="scale-down"] {
	object-fit: scale-down;
}
[data-object-fit="none"] {
	object-fit: none;
}
[data-object-position="top left"],
[data-object-position="left top"], {
	object-position: top left;
}
[data-object-position="top center"],
[data-object-position="center top"], {
	object-position: top center;
}
[data-object-position="top right"],
[data-object-position="right top"], {
	object-position: top right;
}
[data-object-position="center right"],
[data-object-position="right center"], {
	object-position: center right;
}
[data-object-position="center"],
[data-object-position="center center"], {
	object-position: center center;
}
[data-object-position="center left"],
[data-object-position="left center"], {
	object-position: center left;
}
[data-object-position="bottom left"],
[data-object-position="left bottom"], {
	object-position: bottom left;
}
[data-object-position="bottom center"],
[data-object-position="center bottom"], {
	object-position: bottom center;
}
[data-object-position="bottom right"],
[data-object-position="right bottom"], {
	object-position: bottom right;
}
.align-full,
.alignfull,
.breakout {
	left: 50%;
	right: 50%;
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	margin-right: -50vw;
}
.site-content {
	margin-top: 80px;
	min-height: 800px;
}
.alignwide,
.container {
	@include center(1440px, 32px);
}
.cf {
	@include cf();
}
.inline-svg {
	display: inline-block;
	vertical-align: middle;
	svg {
		width: 1em;
		height: 1em;
	}
}