/* Normalize
========================================================================== */
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
	background: #FFF;
}
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
main {
	display: block;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
img {
	height: auto;
	max-width: 100%;
}
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
	width: 100%;
}
